<footer>
  <div class="container footer-cols">
    <div class="col">
      <h4>Services</h4>
      <ul>
        <li><a href="#services">Residential</a></li>
        <li><a href="#services">Commercial</a></li>
      </ul>
    </div>
    <div class="col">
      <h4>Locations</h4>
      <ul>
        <li><a href="#locations">Toronto</a></li>
        <li><a href="#locations">North York</a></li>
        <li><a href="#locations">Scarborough</a></li>
        <li><a href="#locations">Mississauga</a></li>
      </ul>
    </div>
    <div class="col">
      <h4>Moving Tips</h4>
      <ul>
        <li><a href="#tips">Our Blog</a></li>
        <li><a href="#tips">Checklist</a></li>
      </ul>
    </div>
    <div class="col">
      <h4>About Us</h4>
      <ul>
        <li><a href="#about">Our Story</a></li>
        <li><a href="#about">Testimonials</a></li>
      </ul>
    </div>
    <div class="col">
      <h4>Contact</h4>
      <p><i class="fas fa-phone"></i> (403) 555‑1234</p>
      <p><i class="fas fa-envelope"></i> info@torontepromoving.com</p>
      <div class="social">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>
